global:
  scrape_interval: ${PROM_SCRAPE_INTERVAL}
  scrape_timeout: ${PROM_SCRAPE_TIMEOUT}

scrape_configs:
  - job_name: confluent_cloud_${CFLT_CLUSTER_ID}
    honor_timestamps: true
    static_configs:
      - targets: ["api.telemetry.confluent.cloud"]
        labels:
          cflt_cluster_id: ${CFLT_CLUSTER_ID}
    scheme: https
    metrics_path: /v2/metrics/cloud/export
    basic_auth:
      username: ${CFLT_CLOUD_API_KEY}
      password: ${CFLT_CLOUD_API_SECRET}
    params:
      resource.kafka.id: ["${CFLT_CLUSTER_ID}"]
      metric:
        - io.confluent.kafka.server/received_bytes
        - io.confluent.kafka.server/sent_bytes
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: confluent_kafka_server_received_bytes|confluent_kafka_server_sent_bytes|confluent_scrape_resource_access_error
        action: keep
