# Confluent telemetry credentials (Cloud API key/secret)
CLOUD_API_KEY=7O44MT3XMG4QIJNN
CLOUD_API_SECRET=cfltRo2HQQncRkzLCOj+huwjWhENSUMJ6hEMswkA/Xh1M51eTyoDvKzGbH9LV2KQ

# Kafka cluster id to scrape in Prometheus
CFLT_CLUSTER_ID=lkc-0o22z5

# Prometheus runtime tuning
PROM_RETENTION_TIME=180d
PROM_SCRAPE_INTERVAL=1m
PROM_SCRAPE_TIMEOUT=55s

# Kafka REST credentials for topic inventory in report script
KAFKA_API_ENDPOINT=https://pkc-xxxxx.region.provider.confluent.cloud
KAFKA_API_KEY=
KAFKA_API_SECRET=
